<div class="panel panel-default">
  <div id="usersTable" class="panel-body">
 <table class="table table-striped">
 <tr><th align="right" colspan="5"><!-- Button trigger modal -->
<button  type="button" class="btn btn-success pull-right btn-xs" data-toggle="modal" data-target="#addProductModal">
  Add Product +
</button></th></tr>
<tr><th>#</th><th>Name</th><th>Supplier</th><th>Category</th><th>Modify</th><th>Delete</th></tr>

 </table>
  </div>
</div>
<!-- Add user part -->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addproduct">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addproductmodal">Add Product</h4>
      </div>
      <div class="modal-body">
        <form id="addProductForm" name="addProductForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" name="description" placeholder="Description">
  </div>
  <div class="form-group">
    <label for="price">price</label>
    <input type="text" class="form-control" id="price" name="price" placeholder="0.00">
  </div>
  <div class="form-group">
    <label for="supplier">Supplier</label>
    <div id="supplierDiv"> </div>
  </div>
  
    <input type="hidden" id="picture" name="picture" value="defaul.jpg">

  <div class="checkbox">
    <label>
      <input id="onindex" name="onindex" value="true" type="checkbox"> On Index ?
    </label>
  </div>
    <div class="form-group">
    <label for="supplier">Category</label>
    <div id="categoryDiv"> </div>
  </div>
 </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" onclick="addProduct()" class="btn btn-primary">New Product</button>
      </div>
    </div>
  </div>
</div> <!-- end add user -->
<script type="text/javascript">
	
	  comboCategories();
  comboSuppliers();
  getProducts();
</script>